.UserInform{
    position: absolute;
    display: block;
    list-style: none;
    background-color: #eff8f4;
    left: 80;
    right: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 16%;
    height: 22%;}

.User{
    position: absolute;
    display: block;
    list-style: none;
}

.btn2{
color: rgb(72, 139, 36);
background-color: rgb(154, 215, 153);
border-radius: 5px;
font-size: larger;
display: block;
padding: 10px;
margin: 20px auto;
width: fit-content;
}

.Edit {
    position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 40px;
    width: 40%;
    right: 370px;
    padding: 25px;
}

    .labelEdit{
        display: block;
        font-size: 15px;
        color: rgb(00, 0, 0);
        padding: 5px;
        
    }  
    .input1{
    font-size: larger;
    color: rgb(0, 0, 0);
    padding: 50px;
    margin: 50px;
    }

    .button{
    color: rgb(250, 245, 245);
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: larger;
    display: block;
    padding: 10px;
    margin: 10px auto;
    }  
    .messages{
    display: flex;
    justify-content: center;
    }
    
    .success{
    display: block;
    background-color: rgb(173, 230, 186);
    color: black;
    width: fit-content;
    height: 50px;
    padding: 5px;
    }
    
   
    @media screen and (max-width: 940px){
        .UserInform{
            position: absolute;
            display: block;
            list-style: none;
            background-color: #eff8f4;
            left: 80;
            right: 0;
            top: 75px;
            transition: all 0.5s ease-out;
            width: 50%;
            height: 50%;
        }
    }